//定义颜色
$act-color: #ff0000;
$text-color: #757575;
$text-color-imp: #000;
$text-color-assist: #b7b4b4;
$success-color: #07c160;
$danger-color: #ee0a24;
$price-color: #ff0000;
$wrapper-bg: #fff;
$inner-wrapper-bg: #f7f8fa;
$shadow-background: rgba(0, 0, 0, 0.1);
$transparent-background: rgba(0, 0, 0, 0.6);


//设置字体大小
$text-size-imp: px2rem(36);
$text-size-big: px2rem(32);
$text-size-mid: px2rem(28);
$text-size: px2rem(24);
$text-size-small: px2rem(22);

//边距
$pd-size: px2rem(20);
$pd-size-mid: px2rem(10);
