.fr {
    float: right;
}

.fl {
    float: left;
}

.clearfix {

    &:before,
    &:after {
        content: " "; // 1
        display: table; // 2
    }

    &:after {
        clear: both;
    }
}

.txt-center {
    text-align: center;
}