@import "./common.scss";

* {
	box-sizing: border-box;
	-webkit-overflow-scrolling: auto;
	-webkit-tap-highlight-color:transparent;
	-webkit-appearance: none; 
	outline: none;
	//touch-action: none; //禁止触发默认的手势操作
}

a {
	color: $text-color-imp
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

html {
	
	height: 100%;
}
body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	color: $text-color-imp;
	margin: 0 auto;
    font-size: $text-size-mid;
	background-color: $main-bg;
	
}
#app{
	height: 100%;
}
h1,h2,h3,h4,p,ul,li,dl, dd{margin: 0; padding: 0;}
input{ border: none; font-size: $text-size-mid; padding: 0;}
ul,li{ list-style: none; }
i{font-style: normal;}

