@import "./common.scss";

* {
	box-sizing: border-box;
}

a {
	color: $text-color-imp
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset;
}

html {
	-webkit-overflow-scrolling: touch;
	height: 100%;
}
body {
	height: 100%;
	overflow: hidden;
	color: $text-color-imp;
	margin: 0 auto;
    font-size: $text-size-mid;
	background-color: $main-bg;
	
}
#app{
	height: 100%;
}
h1,h2,h3,h4,p,ul,li,dl, dd{margin: 0; padding: 0;}
input{ border: none; font-size: $text-size-mid;}
ul,li{ list-style: none; }
i{font-style: normal;}